<div class="forgot-pass container">
    <form class="forgot-pass-form">
        <div class="form-floating mb-3">
            <input type="email" name = "email" class="form-control rounded-0" id="floatingInput" placeholder="Enter your Employee ID" required>
            <label for="floatingInput">E-mail</label>
        </div>
        <div class="form-floating mb-3">
            <input type="newPassword" name = "newPassword" class="form-control rounded-0" id="floatingInput" placeholder="New Password" required>
            <label for="floatingInput">New Password</label>
        </div>
        <div class="form-floating mb-3">
            <input type="confirmPassword" name = "confirmPassword" class="form-control rounded-0" id="floatingInput" placeholder="New Password" required>
            <label for="floatingInput">Confirm Password</label>
        </div>
        <div class="d-grid gap-2 mb-3">
            <button type="submit" class="btn btn-lg border-0 rounded-0 update-btn">Update Password</button>
        </div>
        <div class="mb-3 text-center">
            <a href="./userAuth/login" title="SignIn">Continue Login</a>
        </div>
    </form>
</div>