
<div class="container login-card">
    <form class="login-form mb-3">
        <div class="form-floating mb-3">
            <input type="text" name = "empid" class="form-control rounded-0" id="floatingInput" placeholder="Enter your Employee ID" required>
            <label for="floatingInput">Employee ID</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" name = "password" class="form-control rounded-0" id="floatingInput" placeholder="Password" required>
            <label for="floatingInput">Password</label>
        </div>
        <div class="forgot-password-link mb-3 text-right">
            <a routerLink="../forgotPass" title="Forgot Password" class="f-pass">Forgot Password</a>
        </div>
        <div class="d-grid gap-2 mb-3">
            <button type="submit" class="btn btn-primary btn-lg border-0 rounded-0 login-btn">Login</button>
        </div>
        <div class="mb-3 text-center">
            <a routerLink="../signUp" title="SignUp">Not Registered? Sign up here</a>
        </div>
    </form>
</div>