.sign-up-form{
    display: flex;
    height: inherit;
    flex-direction: column;
    justify-content:space-evenly;
}

.sign-up-card {
    width: 30%;
    min-width: 350px;
    height: 90vh;
    background-color: rgb(255,255,255,0.4);
    box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 10px 10px;
}

.sign-up-btn{
    background-color: var(--primary);
}